body {
  background-image: url("./assets/sfondo-portfolio.jpeg");
  background-position: center;
}

.helvetica {
    font-family: "Helvetica Neue";
}

.script {
    font-family: "sloop-script-one", sans-serif;
    font-weight: lighter;
}

.heading {
    color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 1em;
    text-align: center;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: -120px;
}

.h1, .script {
    color: black;
    font-size: 1.6em;
    margin-left: -57px;
    margin-right: 14px;
    position: relative;
    top: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.icon-container {
    position: relative;
    text-align: center;
  /*  color: aliceblue; */
    bottom: 0px;
    filter: brightness(100%);
    transition: filter 0.5s, bottom 0.5s;
}

.icon-container:hover {
    filter: brightness(20%);
    position: relative;
    bottom: 30px;
}

.icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    visibility: hidden;
    transition: visibility 0.5s;
}

.icon-text:hover {
    visibility: visible;
}

.icona {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    position: relative;
}

