body {
  background-image: url("./assets/sfondo-portfolio.jpeg");
}

.helvetica {
    font-family: "Helvetica Neue";
}

.script {
    font-family: "sloop-script-one", sans-serif;
    font-weight: lighter;
}

.heading {
    color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 7em;
}

.h1, .script {
    color: black;
    font-size: 1.6em;
    margin-left: -57px;
    margin-right: 14px;
    position: relative;
    top: 20px;
}